---
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import blogImage from '../assets/blog-image.png';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={blogImage} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 960px;
				margin: auto;
				padding: 3em 1em;
			}
			.intro {
				text-align: center;
				margin-bottom: 4em;
			}
			.intro img {
				display: block;
				margin: 0 auto 2rem;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
				max-width: 600px;
				width: 100%;
				height: auto;
			}
			h1 {
				font-size: 3rem;
				font-weight: 800;
			}
			p {
				font-size: 1.25rem;
				color: #4b5563;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section class="intro">
				<Image src={blogImage} alt="Blog Hero" />
				<h1>🚀 {SITE_TITLE}</h1>
				<p>{SITE_DESCRIPTION}</p>
			</section>
			<section>
				<p>
					Welcome to my new blog. I will try to write things here that I think are worth sharing. 
				</p>
				<p>
					Here are my latest posts: <a href="/blog">latest posts</a>
				</p>
			</section>
		</main>
		<Footer />
	</body>
</html>
